<form [formGroup]="feedbackForm" (submit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field class="feedback-input">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Your name..." />
      @if (feedbackForm.controls.name.hasError('required')) {
      <mat-error>Name is required</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="feedback-input">
      <textarea
        matInput
        formControlName="feedback"
        placeholder="Your feedback..."
      ></textarea>
      @if (feedbackForm.controls.feedback.hasError('required')) {
      <mat-error>Feedback is required</mat-error>
      } @else if (feedbackForm.controls.feedback.hasError('minlength')) {
      <mat-error>Feedback must be at least 10 characters long</mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions class="feedback-bottom">
    <mat-button-toggle-group formControlName="satisfaction">
      <mat-button-toggle value="happy">
        <mat-icon fontIcon="mood" />
      </mat-button-toggle>
      <mat-button-toggle value="satisfied">
        <mat-icon fontIcon="sentiment_satisfied" />
      </mat-button-toggle>
      <mat-button-toggle value="dissatisfied">
        <mat-icon fontIcon="sentiment_dissatisfied" />
      </mat-button-toggle>
    </mat-button-toggle-group>
    <button
      type="submit"
      class="feedback-button"
      mat-flat-button
      [disabled]="feedbackForm.invalid || status() === 'pending'"
    >
      @if(status() === 'pending') {
      <mat-spinner diameter="20"></mat-spinner>
      } @else { Send }
    </button>
  </mat-dialog-actions>
</form>
